@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

:root {
  --gray: #BDCADB;
  --white: #fff;
  --linear-color: linear-gradient(256.8deg, #0698F9 13.5%, #F906F9 87.25%);
  --title: #21204A;
  --text: #64609F;
  --Neutral-1: #11315B;
  --Neutral-2: #476285;
}
body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.title {
  font-weight: 600;
  font-size: 32px;
  color: var(--title);
}

.text {
  font-weight: 400;
  font-size: 16px;
  color: var(--text);
}

.gray-btn {
  font-weight: 500;
  font-size: 18px;
  color: #6692CC;
  border: 2px solid #6692CC;
  border-radius: 12px;
  padding: 10px 24px;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}
.gray-btn:is(:hover, :focus){
  background-color:var(--title);
  color: var(--white);
  border: 2px solid transparent;
}
.btn {
  font-weight: 500;
  font-size: 18px;
  color: var(--white);
  padding: 12px 24px;
  background: linear-gradient(256.8deg, #0698F9 13.5%, #F906F9 87.25%);
  border-radius: 12px;
  border: none;
  transition: 0.5s ease-in-out;
}
.btn:is(:hover, :focus) {
  opacity: 0.5;
}
.container {
  width: min(100% - 15px, 1200px);
  margin-inline: auto;
}
@media (max-width:1200px) {
  .title {
    font-size: calc(20px + (32 - 20) * ((100vw - 320px) / (1200 - 320)));
  }

  .btn {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1200 - 320)));
  }

  .gray-btn {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px)/(1200 - 320)));
  }

  .text {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px)/(1200 - 320)));
  }
}